body{
font-family: Arial;
margin:0;
scroll-behavior:smooth;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#111;
color:white;
padding:15px;
position:sticky;
top:0;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(to right,#ff512f,#dd2476);
color:white;
text-align:center;
}

.hero button{
padding:12px 25px;
border:none;
background:black;
color:white;
cursor:pointer;
}

section{
padding:60px;
text-align:center;
}

.cards{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#f4f4f4;
padding:20px;
width:250px;
border-radius:10px;
}

.plans{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.plan{
background:#f2f2f2;
padding:20px;
width:250px;
border-radius:10px;
}

.popular{
background:#ffdd57;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}
